
*
{
	margin: 0;
	padding: 0;
}



ul
{
	list-style-type: none; 
	display: flex;
	justify-content: space-between;
}


header{

	.ul1 {
		padding-left: 650px;
			a {
				text-decoration: none;
				color: black;
			}
			.button1 {
				border-radius: 5px;
				background-color: #BA0D75;
				padding: 10px 5px 10px 5px;

			}
			.button2 {
				border-radius: 5px;
				background-color: white;
				padding: 10px 5px 10px 5px;
			}
		
	} .ul2 {
		background-color: black;
		padding: 10px 10px 10px 10px;
		font-size: 14px;
		flex-grow: 500px;
		padding-left: 700px;
			a {
				text-decoration: none;
				color: white;
			}
	} .ul3 {
		padding: 20px 0px 20px 0px;
			a {
				text-decoration: none;
		}
	} .ul4 {
		background-color: #0D1010;
		padding: 10px 10px 10px 0px;
		justify-content: center;
		flex-wrap: wrap;

		 	li {
			margin: 10px;
		}

			a {
				text-decoration: none;
				color: white;
			}

	} 
}
.images{

	display: flex;
	height: 550px;
	 		.gauche {
				height: 100%;
				width: 50%;
				background-image: url("../img/batmanheader-360x240.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
	}		.droite {
				width: 50%;
				height: 100%;
				display: flex;
				flex-wrap: wrap;

	}		.image2 {
				height: 50%;
				width: 50%;
				background-image: url("../img/batmanfrankmiller-360x240.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				box-sizing: border-box;
				border: solid 2px white;
	}		.image3 {
				height: 50%;
				width: 50%;
				background-image: url("../img/batmansombrerefler_jock-360x240.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				box-sizing: border-box;
				border: solid 2px white;
				
	}		.image4 {
				height: 50%;
				width: 50%;
				background-image: url("../img/madpreview-790x398-360x240.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				box-sizing: border-box;
				border: solid 2px white;
				
	}		.image5 {
				height: 50%;
				width: 50%;
				background-image: url("../img/WallpapersIHateFairyland7-360x240.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				box-sizing: border-box;
				border: solid 2px white;
			
	}
	
}
